<style>

* body ,html{
  font-family: 'Oxygen', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    background-image: url('https://t3.ftcdn.net/jpg/02/58/01/54/240_F_258015476_Lcr5xKfR421qgbfFrzMP0MmjN7jdVSqg.jpg');
    background-repeat: no-repeat;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    height: 100vh;
    width:100vw;
  }
  p{
  color:rgb(0, 0, 0);
  font-size: 1.8rem;
}
.change{
  display: flex;
  flex-direction: column;
  border:1px solid black;
  box-sizing: border-box;
  justify-content: center;
  width:700px;
  margin-left: 25%;
  margin-top: 10%;
  padding:30px;
  padding-left: 45px;
  background-color: rgb(212, 254, 178);
  border-radius: 30px; 
  box-shadow:1px 1px 10px 1px rgba(0,0,0,0.7);
}

</style>


<div class="change">
  <p>
    Your password has been set. You may go ahead and <a href="{% url 'login' %}">sign in</a> 
  </p>
</div>