<style>

.change{
  display: flex;
  flex-direction: column;
  border:1px solid black;
  box-sizing: border-box;
  justify-content: center;
  width:500px;
  margin-left: 30%;
  margin-top: 10%;
  padding:30px;
  padding-left: 45px;
  background-color: rgb(255, 255, 255);
  border-radius: 30px; 
  box-shadow:1px 1px 10px 1px rgba(0,0,0,0.7);
}
* body ,html{
  font-family: 'Oxygen', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    background-image: url('https://t3.ftcdn.net/jpg/02/58/01/54/240_F_258015476_Lcr5xKfR421qgbfFrzMP0MmjN7jdVSqg.jpg');
    background-repeat: no-repeat;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    height: 100vh;
    width:100vw;
  }
  /* form{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: white;
 } */

 input{
    margin-top:1rem;
    padding: 1.1rem;
    width: 100%;
    background: white;
    outline: none;
    /* margin:1rem 3rem; */
    border: none;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    border: solid 2px #33333328;
   
   
}
input[type=email]:focus {
    border: 2px solid rgba(36, 203, 83, 0.841);
   
  }
  input[type=password]:focus {
    border: 2px solid rgba(36, 203, 83, 0.841);
  }
  button{
    padding: 0.6rem;
    width: 45%;
    border: none;
    background-color: rgb(106, 200, 35);
    border-radius: 5px;
    color: white;
    font-size:1.2rem;
   margin-top:4%;
    z-index:2;

    background-image: linear-gradient(to right,rgba(13, 250, 80, 0.841), rgba(34, 158, 69, 0.841));
   
}

button:hover{
    cursor: pointer;
    background-image: linear-gradient(to right,rgba(34, 158, 69, 0.841),rgba(13, 250, 80, 0.841));

}
p{
    background-color:white;
    font-size:16px;
    color: #000000;
}
   
</style>
  
  
  
  
  
  
<div class="change">
  {% if validlink %}
    <h3>Change password</h3>
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit">Change password</button>
    </form>
  {% else %}
    <p>
      The password reset link was invalid, possibly because it has already been used.
      Please request a new password reset.
    </p>
  {% endif %}
</div>